@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  position: relative;
  max-width: 1920px;
  height: 4900px;
  overflow: hidden auto;
}

@media (max-width: 375px) {
  body {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden auto;
  }
}

.youtubevideowrapperdiv16-9blind {
  position: absolute;
  width: 100%;
  height: 1080px;
  top: -120px;
  left: 0%;
  overflow: visible;
}

.youtubevideowrapperdiv16-9blind .video-container {
  display: block;
}

.youtubevideowrapperdiv16-9blind .uphidden {
  display: none;
}

.youtubevideowrapperdiv object {
  position: absolute;
  top: 5px;
  left: 0%;
  width: 100%;
  height: 100%;
}

@media (max-width: 375px) {
  .youtubevideowrapperdiv object {
    top: 0px;
    left: 0%;
    height: 760px;
  }

  .youtubevideowrapperdiv16-9blind .uphidden {
    display: block;
    background: #000;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 60px;
    z-index: 9;
  }

  .youtubevideowrapperdiv16-9blind {
    position: absolute;
    width: 100%;
    height: 760px;
    top: 0px;
    left: 0%;
    overflow: visible;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0%;
  width: 100%;
  /*스크롤 전 헤더 배경색*/
  z-index: 999;
  height: 80px;
  /*메뉴영역 세로사이즈*/
  overflow: hidden;
  line-height: 80px;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
  filter: drop-shadow(0px 9px 30px rgba(0, 0, 0, 0.141));
}

.header.scroll {
  height: 80px;
  /*스크롤 후 헤더 사이즈(세로)*/
  line-height: 80px;
  /*스크롤 후 헤더 배경색*/
  z-index: 9999;
}

.header .navi {
  width: 1920px;
  /*메뉴영역 가로사이즈*/
  margin: 0 auto;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.header.scroll .navi {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.navi ul {
  margin: 0 auto;
  padding-right: 715px;
  list-style: none;
}

.navi ul li {
  float: left;
  font-size: 1.25rem;
  font-weight: bold;
}

.navi ul li a {
  position: relative;
  overflow: visible;
  left: 715px;
  font-style: normal;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  height: 80px;
  display: block;
  padding-right: 106px;
  text-decoration: none;
  color: #fff;
}

/*스크롤 전*/
.header .scroll .navi ul li a {
  height: 80px;
  overflow: visible;
  z-index: 9999;
}

/* 스크롤 후*/
@media (max-width: 375px) {

  .header, .header.scroll, .header .navi,
  .header.scroll .navi, .navi ul,
  .navi ul li, .navi ul li a,
  .header .scroll .navi ul li a, .dclogo, .danigologo {
    display: none;
  }
}

.overlay, .overlay-content, .overlay a,
.overlay .closebtn, .openbtn, .dclogomob {
  display: none;
}

@media (max-width: 375px) {
  .overlay {
    display: block;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
}

@media (max-width: 375px) {
  .overlay-content {
    display: block;
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
}

@media (max-width: 375px) {
  .overlay a {
    display: block;
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    transition: 0.3s;
  }
}

@media (max-width: 375px) {
  .overlay a:hover {
    color: #fff;
  }
}

@media (max-width: 375px) {
  .overlay .closebtn {
    display: block;
    position: absolute;
    top: 3%;
    left: 8%;
    fill: #818181;
  }
}

@media (max-width: 375px) {
  .overlay .closebtn:hover {
    fill: #fff;
  }
}

@media (max-width: 375px) {
  .openbtn {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 2.2%;
    left: 81.9%;
    z-index: 9;
  }
}

#servicebtn {
  background-color: #BF9E80;
  color: white;
  padding: 12px auto;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  width: 131px;
  height: 39px;
  overflow: visible;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.313rem;
  outline: none;
  left: 1188px;
  top: 22px;
  position: absolute;
}

#servicebtn:hover {
  background-color: #A2774F;
}

.dclogo {
  position: absolute;
  width: 99.249px;
  height: 31.956px;
  left: 346px;
  top: 25px;
  overflow: visible;
}

@media (max-width: 375px) {
  .dclogomob {
    display: block;
    cursor: pointer;
    position: absolute;
    width: 106.27px;
    height: 20.49px;
    top: 2.2%;
    left: 10.5%;
    overflow: visible;
    z-index: 9;
  }
}

#yongsan {
  left: 450px;
  top: 10px;
  position: absolute;
  overflow: visible;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #fff;
  letter-spacing: 1px;
}

.danigologo {
  position: absolute;
  width: 96.677px;
  height: 52.344px;
  left: 1690.223px;
  top: 17.192px;
  overflow: visible;
}

#chainabout {
  position: absolute;
  width: 100%;
  height: 938px;
  left: -0.3%;
  top: 19.6%;
  overflow: visible;
  background: url('aboutbg.png');
}

#aboutus {
  left: 45.8%;
  top: 150px;
  position: absolute;
  overflow: visible;
  width: 159px;
  white-space: nowrap;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.563rem;
  color: rgba(242, 242, 242, 1);
}

#welcome {
  left: 640px;
  top: 250px;
  position: absolute;
  overflow: visible;
  width: 600px;
  line-height: 59px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.438rem;
  color: rgba(242, 242, 242, 1);
}

#welcomebody {
  left: 607px;
  top: 429px;
  position: absolute;
  overflow: visible;
  width: 575px;
  height: 183px;
  line-height: 45px;
  margin-top: -10px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.563rem;
  color: rgba(242, 242, 242, 1);
}

#speed {
  opacity: 0.5;
  mix-blend-mode: screen;
  left: 140px;
  top: 703px;
  position: absolute;
  overflow: visible;
  width: 391px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 7.688rem;
  color: rgba(242, 242, 242, 0.7);
}

#smart {
  opacity: 0.5;
  mix-blend-mode: screen;
  left: 686px;
  top: 703px;
  position: absolute;
  overflow: visible;
  width: 405px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 7.688rem;
  color: rgba(242, 242, 242, 0.7);
}

#synergy {
  opacity: 0.5;
  mix-blend-mode: screen;
  left: 1245px;
  top: 703px;
  position: absolute;
  overflow: visible;
  width: 536px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 7.688rem;
  color: rgba(242, 242, 242, 0.7);
}

@media (max-width: 375px) {
  #chainabout {
    position: absolute;
    width: 100%;
    height: 760px;
    left: 0%;
    top: 760px;
    overflow: visible;
    background: url('aboutbgmob.png');
  }

  #aboutus {
    font-size: 18px;
    left: 136px;
    top: 77px;
    width: 104px;
    text-align: center;
  }

  #welcome {
    font-size: 22px;
    left: 45px;
    top: 152px;
    width: 286px;
    line-height: 37px;
  }

  #welcomebody {
    font-size: 14px;
    left: 38px;
    top: 260px;
    width: 300px;
    line-height: 29px;
  }

  #speed {
    font-size: 69px;
    left: 65px;
    top: 439px;
    width: 230px;
  }

  #smart {
    font-size: 69px;
    left: 65px;
    top: 541px;
    width: 230px;
  }

  #synergy {
    font-size: 69px;
    left: 38px;
    top: 633px;
    width: 285px;
  }
}

#product {
  width: 100%;
  height: 938px;
  left: 0%;
  top: 1897px;
  position: absolute;
  overflow: visible;
}

@media (max-width: 375px) {
  #product {
    width: 375px;
    height: 760px;
    left: 0px;
    top: 1520px;
    position: absolute;
    overflow: visible;
  }
}

#products {
  width: 160px;
  left: 849px;
  top: 109px;
  position: relative;
  overflow: visible;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.563rem;
  color: #0D0D0D;
  z-index: 9;
}

@media (max-width: 375px) {
  #products {
    font-size: 18px;
    left: 130px;
    top: 59px;
  }
}

.swiper-container {
  width: 1920px;
  height: 938px;
  left: 0px;
  top: 0px;
  position: relative;
  overflow: visible !important;
  z-index: -99;
}

@media (max-width: 375px) {
  .swiper-container {
    width: 375px;
    height: 760px;
    left: 0%;
    top: 0%;
    position: relative;
    overflow: visible !important;
    z-index: -99;
  }
}

.gallery-top .swiper-slide {
  background-image: url("productbg.png");
  background-repeat: no-repeat;
  width: 1920px;
  height: 936px;
  left: 0px;
  top: 0px;
  position: relative;
  overflow: visible !important;
}

@media (max-width: 375px) {
  .gallery-top .swiper-slide {
    background-image: url("productbgmob.png");
    background-repeat: no-repeat;
    width: 375px;
    height: 760px;
    left: 0px;
    top: 0px;
    position: relative;
    overflow: visible !important;
  }
}

.gallery-top .bigimg {
  max-width: 755px;
  max-height: 500px;
  left: 747px;
  top: 200px;
  position: absolute;
  overflow: visible;
  z-index: 9;
}

@media (max-width: 375px) {
  .gallery-top .bigimg {
    width: 60%;
    height: auto;
    left: 80px;
    top: 250px;
    position: absolute;
    overflow: visible;
    z-index: 9;
  }
}

.gallery-top {
  height: 675px;
  width: 100%;
  position: absolute !important;
  overflow: visible;
  left: 0px;
  top: 0px;
}

@media (max-width: 375px) {
  .gallery-top {
    height: 654px;
    width: 100%;
    position: absolute !important;
    overflow: visible;
    left: 0px;
    top: 0px;
  }
}

.swiper-button-prev {
  position: absolute !important;
  width: auto;
  height: auto;
  left: 140px !important;
  top: 457px !important;
  overflow: visible;
  background-repeat: no-repeat;
  outline: none;
  color: #0D0D0D !important;
  z-index: 9 !important;
}

@media (max-width: 375px) {
  .swiper-button-prev {
    position: absolute !important;
    width: auto;
    height: auto;
    left: 22.59px !important;
    top: 298px !important;
    overflow: visible;
    background-repeat: no-repeat;
    outline: none;
    color: #0D0D0D !important;
    z-index: 9 !important;
    transform: scale(0.5)
  }
}

.swiper-button-next {
  position: absolute !important;
  width: auto;
  height: auto;
  left: 1700px !important;
  top: 457px !important;
  overflow: visible;
  outline: none;
  background-repeat: no-repeat;
  color: #0D0D0D !important;
  z-index: 9 !important;
}

@media (max-width: 375px) {
  .swiper-button-next {
    position: absolute !important;
    width: auto;
    height: auto;
    left: 338px !important;
    top: 298px !important;
    overflow: visible;
    background-repeat: no-repeat;
    outline: none;
    color: #0D0D0D !important;
    z-index: 9 !important;
    transform: scale(0.5)
  }
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #99C8F2 !important;
}

.type01 {
  left: 307px;
  top: 269px;
  position: absolute;
  overflow: visible;
  width: 379px;
  height: 348px;
  line-height: 46px;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 2.5rem;
  color: rgba(13, 13, 13, 1);
  z-index: 9;
}

@media (max-width: 375px) {
  .type01 {
    text-align: center;
    left: 45px;
    top: 153px;
    position: absolute;
    overflow: visible;
    line-height: 33px;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    color: rgba(13, 13, 13, 1);
    z-index: 9;
    width: 308px;
  }
}

.txt-car-info {
  left: 307px;
  top: 400px;
  width: 314px;
  position: absolute;
  overflow: visible;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.438rem;
  color: rgba(13, 13, 13, 1);
  z-index: 9;
}

@media (max-width: 375px) {
  .txt-car-info {
    left: 38px;
    top: 434px;
    position: absolute;
    overflow: visible;
    width: 285px;
    line-height: 28px;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: rgba(13, 13, 13, 1);
    z-index: 9;
  }
}

.txt-car-info button,
.txt-car-info button::after {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.txt-car-info button {
  color: #0D0D0D;
  border: 2px solid #0D0D0D;
  position: absolute;
  width: 252px;
  height: 56px;
  left: 0px;
  top: 170px;
  overflow: visible;
  cursor: pointer;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.313rem;
  background-color: transparent;
  z-index: 99;
}

@media (max-width: 375px) {
  .txt-car-info button {
    color: #0D0D0D;
    border: 2px solid #0D0D0D;
    position: absolute;
    width: 128px;
    height: 33px;
    top: 100px;
    overflow: visible;
    cursor: pointer;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    background-color: transparent;
    z-index: 99;
  }
}

.txt-car-info button::before,
.txt-car-info button::after {
  background: #99C8F2;
  content: '';
  position: absolute;
  z-index: -1;
}

.txt-car-info button:hover {
  color: #fff;
  border-color: #99C8F2;
}

.open01::after, .open02::after, .open03::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}

.open01:hover:after, .open02:hover:after, .open03:hover:after {
  width: 100%;
}

.mask {
  z-index: 999;
  display: none;
  padding-top: 100px;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

.modlacontent01, .modlacontent02, .modlacontent03 {
  background-color: #fff;
  position: absolute;
  width: 1005px;
  height: 699px;
  display: none;
  z-index: 999;
  left: 458px;
  margin-top: 92px;
  overflow: auto;
}

.spec01mob, .spec02mob, .spec03mob {
  display: none;
}

@media (max-width: 375px) {
  .modlacontent01, .modlacontent02, .modlacontent03 {
    background-color: #fff;
    position: absolute;
    width: 315px;
    height: 620px;
    display: none;
    z-index: 999;
    left: 30px;
    top: 46px;
    overflow: auto;
  }
}
@media (max-width: 375px) {
  .spec01, .spec02, .spec03 {
   display:none;
  }
}
@media (max-width: 375px) {
  .spec01mob, .spec02mob, .spec03mob {
   display:block;
  }
}
.spec011, .spec021, .spec031 {
  width: 50%;
  background: contain;
  display: block;
  margin: auto;
}

@media (max-width: 375px) {
  .spec011, .spec021, .spec031 {
    width: 50%;
    background: contain;
    display: block;
    margin: auto;
  }
}

.modlacontent01 span, .modlacontent02 span, .modlacontent03 span {
  text-align: center;
  display: block;
  margin: auto;
  padding-top: 50px;
  white-space: nowrap;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  color: #0D0D0D;
}

@media (max-width: 375px) {
  .modlacontent01 span, .modlacontent02 span, .modlacontent03 span {
    text-align: center;
    display: block;
    margin: auto;
    padding-top: 50px;
    white-space: nowrap;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #0D0D0D;
  }
}

/*닫기버튼
.close {
  position: fixed;
  color: #aaaaaa;
  left: 75%;
  top: 10%;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
*/
.gallery-thumbs {
  position: absolute !important;
  left: 0px;
  top: 755px !important;
  height: 183px;
  background-color: #D9D9D9;
  z-index: 9 !important;
}

@media (max-width: 375px) {
  .gallery-thumbs {
    position: absolute !important;
    left: 0px;
    top: 643px !important;
    height: 119px;
    width: 375px;
    background-color: #D9D9D9;
    z-index: 9 !important;
  }
}

.gallery-thumbs .swiper-slide {
  left: 579px;
  top: 18px;
  width: auto;
  height: auto;
  max-width: 110px;
  max-height: 110px;
  background-size: contain;
  position: relative;
  display: flex;
  padding-right: 150px;
  z-index: 99;
  cursor: pointer;
}


@media (max-width: 375px) {
  .gallery-thumbs .swiper-slide {
    left: 15px;
    top: -5px;
    -webkit-transform:scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    position: relative;
    padding-right: 10px;
    z-index: 99;
    cursor: pointer;
  }
}

.gallery-thumbs span {
  left: -145px;
  top: 113px;
  position: relative;
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  color: #0D0D0D;
}

.smallimg:hover {
  animation: vibrate-1 .3s linear infinite both
}

@keyframes vibrate-1 {
  0% {
    transform: translate(0)
  }

  20% {
    transform: translate(-2px, 2px)
  }

  40% {
    transform: translate(-2px, -2px)
  }

  60% {
    transform: translate(2px, 2px)
  }

  80% {
    transform: translate(2px, -2px)
  }

  100% {
    transform: translate(0)
  }
}

#service {
  overflow: visible;
  position: absolute;
  width: 1920px;
  height: 938px;
  left: 0px;
  top: 3743px;
  background-color: #F2F2F2;
}

@media (max-width: 375px) {
  #service {
    height: 760px;
    width: 100%;
    position: absolute !important;
    overflow: visible;
    left: 0px;
    top: 3040px;
  }
}

#service span {
  left: 881px;
  top: 104px;
  position: absolute;
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.563rem;
  color: rgba(0, 0, 0, 1);
}
@media (max-width: 375px) {
  #service span {
    left: 139px;
    top: 31px;
    position: absolute;
    overflow: visible;
    white-space: nowrap;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
  }
}
#line01 {
  fill: transparent;
  stroke: rgba(217, 217, 217, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.line01 {
  overflow: visible;
  position: absolute;
  width: 1388px;
  height: 1px;
  left: 265.5px;
  top: 330px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#line02 {
  fill: transparent;
  stroke: rgba(217, 217, 217, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.line02 {
  overflow: visible;
  position: absolute;
  width: 1388px;
  height: 1px;
  left: 265.5px;
  top: 512px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

label {
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  display: block;
}

label:after {
  content: "*";
  color: red;
}

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  filter: drop-shadow(0px 1px 20px rgba(0, 0, 0, 0.071));
  outline: none;
  margin-right: 60px;
  margin-bottom: 80px;
}

#my-form-button {
  background-color: #99C8F2;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  width: 252px;
  height: 56px;
  overflow: visible;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.313rem;
  outline: none;
  left: 569px;
  top: 650px;
  position: absolute;
}

#my-form-button:hover {
  background-color: #67A9E5;
}

.container {
  left: 264.5px;
  top: 195px;
  position: absolute;
  overflow: visible;
}

.line {
  display: flex;
  float: right;
}

#contact {
  position: absolute;
  overflow: visible;
  width: 375px;
  height: 760px;
  left: 0px;
  top: 2812px;
}

@media (max-width: 375px) {
  #contact {
    height: 760px;
    width: 100%;
    position: absolute !important;
    overflow: visible;
    left: 0px;
    top: 2280px;
  }
}

#contactbg {
  position: absolute;
  overflow: visible;
  width: 1920px;
  height: 858px;
  left: 0px;
  top: 0px;
  background-color: #fff;
}
@media (max-width: 375px) {
  #contactbg  {
    height: 760px;
    width: 100%;
    position: absolute !important;
    overflow: visible;
    left: 0px;
    top: 0px;
  }
}
#contacthead span {
  left: 881px;
  top: 117px;
  position: absolute;
  overflow: visible;
  width: 159px;
  white-space: nowrap;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.563rem;
  color: rgba(13, 13, 13, 1);
}
@media (max-width: 375px) {
  #contacthead span  {
    left: 143px;
    top: 36px;
    position: absolute;
    overflow: visible;
    width: 98px;
    white-space: nowrap;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: rgba(13, 13, 13, 1);
  }
}

#chain {
  left: 258px;
  top: 217px;
  position: absolute;
  overflow: visible;
  width: 1404px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.875rem;
  color: rgba(13, 13, 13, 1);
  border-bottom: 2px solid #0D0D0D;
  padding-bottom: 28px;
}
@media (max-width: 375px) {
  #chain  {
    left: 38px;
    top: 106px;
    position: absolute;
    overflow: visible;
    width: 370px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: rgba(13, 13, 13, 1);
  }
}
#map iframe {
  position: absolute;
  width: 702px;
  height: 532px;
  left: 258px;
  top: 321px;
  overflow: visible;
}
@media (max-width: 375px) {
  #map iframe  {
    position: absolute;
    width: 300px;
    height: 215px;
    left: 38px;
    top: 160px;
    overflow: visible;
  }
}
#add {
  left: 1025px;
  top: 388px;
  position: absolute;
  overflow: visible;
  width: 96px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(13, 13, 13, 1);
}

#tel {
  left: 1025px;
  top: 510px;
  position: absolute;
  overflow: visible;
  width: 96px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(13, 13, 13, 1);
}

#fax {
  left: 1025px;
  top: 627px;
  position: absolute;
  overflow: visible;
  width: 96px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(13, 13, 13, 1);
}

#hour {
  left: 1025px;
  top: 746px;
  position: absolute;
  overflow: visible;
  width: 96px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(13, 13, 13, 1);
}

#addbody {
  left: 1156px;
  top: 388px;
  position: absolute;
  overflow: visible;
  width: 507px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(13, 13, 13, 1);
}

#telnumber {
  left: 1156px;
  top: 510px;
  position: absolute;
  overflow: visible;
  width: 507px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(13, 13, 13, 1);
}

#faxnumber {
  left: 1156px;
  top: 627px;
  position: absolute;
  overflow: visible;
  width: 507px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(13, 13, 13, 1);
}

#hourbody {
  left: 1156px;
  top: 746px;
  position: absolute;
  overflow: visible;
  width: 507px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(13, 13, 13, 1);
}

#line04 {
  fill: transparent;
  stroke: rgba(217, 217, 217, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.line04 {
  overflow: visible;
  position: absolute;
  width: 637px;
  height: 1px;
  left: 1025.5px;
  top: 475px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#line05 {
  fill: transparent;
  stroke: rgba(217, 217, 217, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.line05 {
  overflow: visible;
  position: absolute;
  width: 637px;
  height: 1px;
  left: 1025.5px;
  top: 587px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#line06 {
  fill: transparent;
  stroke: rgba(217, 217, 217, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.line06 {
  overflow: visible;
  position: absolute;
  width: 637px;
  height: 1px;
  left: 1025.5px;
  top: 706px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#line07 {
  fill: transparent;
  stroke: rgba(217, 217, 217, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.line07 {
  overflow: visible;
  position: absolute;
  width: 637px;
  height: 1px;
  left: 1025.5px;
  top: 853px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#footer {
  position: absolute;
  overflow: visible;
  width: 1920px;
  height: 215px;
  left: 0px;
  top: 4685px;
}

#footerbg {
  position: absolute;
  overflow: visible;
  width: 1920px;
  height: 215px;
  left: 0px;
  top: 0px;
  background: #0D0D0D;
}

#footercontents01 {
  opacity: 0.32;
  left: 556px;
  top: 59px;
  position: absolute;
  overflow: visible;
  width: 589px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: rgba(242, 242, 242, 1);
}

#footercontents02 {
  opacity: 0.32;
  left: 556px;
  top: 90px;
  position: absolute;
  overflow: visible;
  width: 614px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: rgba(242, 242, 242, 1);
}

#Copyright {
  opacity: 0.32;
  left: 556px;
  top: 141px;
  position: absolute;
  overflow: visible;
  width: 541px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: rgba(242, 242, 242, 1);
}

#topbtn {
  position: absolute;
  width: 82px;
  height: 81px;
  left: 1694px;
  top: 60px;
  overflow: visible;
}

#footerlogo {
  position: absolute;
  width: 205.019px;
  height: 50.754px;
  left: 302px;
  top: 52px;
  overflow: visible;
}
