@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  position: relative;
  max-width: 1920px;
  height: 4900px;
  overflow: hidden auto;
}

@media screen and (max-width: 480px) {
  html, body {
    position: relative;
    width: 100%;
    height: 100%;
    }
}

video {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 480px) {
  video {
    width: 100%;
    height: auto;
  }
.header {
  position: fixed;
  top: 0;
  left: 0%;
  width: 100%;
  /*스크롤 전 헤더 배경색*/
  z-index: 999;
  height: 80px;
  /*메뉴영역 세로사이즈*/
  overflow: hidden;
  line-height: 80px;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
  filter: drop-shadow(0px 9px 30px rgba(0, 0, 0, 0.141));
}

.header.scroll {
  height: 80px;
  /*스크롤 후 헤더 사이즈(세로)*/
  line-height: 80px;
  /*스크롤 후 헤더 배경색*/
  z-index: 9999;
}

.header .navi {
  width: 1920px;
  /*메뉴영역 가로사이즈*/
  margin: 0 auto;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.header.scroll .navi {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.navi ul {
  margin: 0 auto;
  padding-right: 715px;
  list-style: none;
}

.navi ul li {
  float: left;
  font-size: 1.25rem;
  font-weight: bold;
}

.navi ul li a {
  position: relative;
  overflow: visible;
  left: 600px;
  font-style: normal;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  width: 90px;
  height: 75px;
  display: block;
  margin-right: 60px;
  text-decoration: none;
  color: #fff;
}

.navi a:hover {
  border-bottom: 5px solid #99C8F2;
}

/*스크롤 전*/
.header .scroll .navi ul li a {
  height: 80px;
  overflow: visible;
  z-index: 9999;
}

/* 스크롤 후*/
/* 스크롤 후*/
@media screen and (max-width: 480px) {

  .header, .header.scroll, .header .navi,
  .header.scroll .navi, .navi ul,
  .navi ul li, .navi ul li a,
  .header .scroll .navi ul li a, .dclogo, .danigologo {
    display: none;
  }
}

#sidebar, .overlay .closebtn,
.openbtn, .dclogomob, .mobheader {
  display: none;
}

@media screen and (max-width: 480px) {
  #sidebar {
    display: block;
    width: 400px;
    position: fixed;
    top: 0;
    left: 100%;
    height: 100%;
    z-index: 999;
    transition: all 0.3s;
    background: #fff;
    padding-top: 200px;
  }
}

@media screen and (max-width: 480px) {
  #sidebar a {
    z-index: 999;
    color: #000;
    padding: 5%;
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 700;
    margin-right: 60%;
    margin-left: 10%;
  }

  #sidebar a:active {
    color: #99C8F2;
  }
}

@media screen and (max-width: 480px) {
  #sidebar.active {
    left: 26%;
  }
}

@media screen and (max-width: 480px) {
  #sidebar .closebtn {
    display: block;
    position: absolute;
    top: 2%;
    left: 5%;
  }
}

@media screen and (max-width: 480px) {
  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99;
    display: none;
  }
}

.mobheader {
  display: none;
}

@media screen and (max-width: 480px) {
  .mobheader {
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 60px;
    z-index: 99;
  }
}

@media screen and (max-width: 480px) {
  .openbtn {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 12px;
    left: 86%;
    z-index: 9;
  }
}

@media screen and (max-width: 480px) {
  .dclogomob {
    display: block;
    cursor: pointer;
    position: absolute;
    width: 106.27px;
    height: 20.49px;
    top: 17px;
    left: 8%;
    overflow: visible;
    z-index: 9;
  }
}

#servicebtn {
  background-color: #BF9E80;
  color: white;
  padding: 12px auto;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  width: 131px;
  height: 39px;
  overflow: visible;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.313rem;
  outline: none;
  left: 61.8%;
  top: 22px;
  position: absolute;
}

#servicebtn:hover {
  background-color: #A2774F;
}

.dclogo {
  position: absolute;
  width: 99.249px;
  height: 31.956px;
  left: 18%;
  top: 25px;
  overflow: visible;
}

#yongsan {
  left: 23.4%;
  top: 10px;
  position: absolute;
  overflow: visible;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #fff;
  letter-spacing: 1px;
}

.danigologo {
  position: absolute;
  width: 96.677px;
  height: 52.344px;
  left: 88%;
  top: 17.192px;
  overflow: visible;
}

#chainabout {
  position: absolute;
  width: 101%;
  height: 938px;
  left: -0.2%;
  top: 19.6%;
  overflow: visible;
  background: url('aboutbg.png');
}

@media screen and (max-width: 480px) {
  #chainabout {
    height: 760px;
    top: 760px;
    background: url('aboutbgmob.png');
    position: relative;
  }
}

#aboutus {
  left: 45.8%;
  top: 150px;
  position: absolute;
  overflow: visible;
  width: 159px;
  white-space: nowrap;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.563rem;
  color: rgba(242, 242, 242, 1);
}

@media screen and (max-width: 480px) {
  #aboutus {
    top: 78px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
  }
}

.welcome {
  left: 36.7%;
  top: 250px;
  position: absolute;
  overflow: visible;
  width: 508px;
  line-height: 59px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.438rem;
  color: rgba(242, 242, 242, 1);
}

@media screen and (max-width: 480px) {
  .welcome {
    font-size: 22px;
    top: 153px;
    line-height: 37px;
    width: 283px;
    left:50%;
    margin-left: -141.5px;
  }
}

.welcomebody {
  left: 31.7%;
  top: 429px;
  position: absolute;
  overflow: visible;
  width: 701px;
  height: 183px;
  line-height: 45px;
  margin-top: -10px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.563rem;
  color: rgba(242, 242, 242, 1);
}

@media screen and (max-width: 480px) {
  .welcomebody {
    font-size: 14px;
    top: 255px;
    line-height: 29px;
    width: 300px;
    left:50%;
    margin-left: -150px;

  }
}

.speed {
  left: 7.2%;
  top: 703px;
  position: absolute;
  overflow: visible;
  width: 391px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 7.688rem;
  color: rgba(242, 242, 242, 0.4);
}

@media screen and (max-width: 480px) {
  .speed {
    font-size: 69px;
    top: 411px;
    width: 212px;
    left:50%;
    margin-left: -106px;
  }
}

.smart {
  left: 35.7%;
  top: 703px;
  position: absolute;
  overflow: visible;
  width: 405px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 7.688rem;
  color: rgba(242, 242, 242, 0.4);
}

@media screen and (max-width: 480px) {
  .smart {
    font-size: 69px;
    top: 519px;
    width: 214px;
    left:50%;
    margin-left: -107px;
  }
}

.synergy {
  left: 64.8%;
  top: 703px;
  position: absolute;
  overflow: visible;
  width: 536px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 7.688rem;
  color: rgba(242, 242, 242, 0.4);
}

@media screen and (max-width: 480px) {
  .synergy {
    font-size: 69px;
    top: 627px;
    width: 285px;
    left:50%;
    margin-left: -142.5px;
  }
}

#product {
  width: 100%;
  height: 938px;
  left: 0%;
  top: 1897px;
  position: absolute;
  overflow: visible;
}

@media screen and (max-width: 480px) {
  #product {
    width: 100%;
    height: 760px;
    top: 1520px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
  }
}

#products {
  width: 160px;
  left: 44.2%;
  top: 109px;
  position: relative;
  overflow: visible;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.563rem;
  color: #0D0D0D;
  z-index: 9;
}

@media screen and (max-width: 480px) {
  #products {
    display: block;
    font-size: 18px;
    left: 50%;
    transform: translateX(-50%);
    top: 78px;
  }
}

.swiper-container {
  width: 100%;
  height: 938px;
  left: 0%;
  top: 0px;
  position: relative;
  overflow: visible !important;
  z-index: -99;
}

@media screen and (max-width: 480px) {
  .swiper-container {
    width: 100%;
    height: 760px;
    left: 0%;
    top: 0%;
    position: relative;
    overflow: visible !important;
    z-index: -99;
  }
}

.gallery-top .swiper-slide {
  background-image: url("productbg.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 936px;
  left: 0%;
  top: 0px;
  position: relative;
  overflow: visible !important;
}

@media screen and (max-width: 480px) {
  .gallery-top .swiper-slide {
    background-image: url("productbgmob.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 760px;
    left: 0%;
    top: 0%;
    position: relative;
    overflow: visible !important;
  }
}

.gallery-top .bigimg {
  max-width: 755px;
  max-height: 500px;
  left: 38.9%;
  top: 200px;
  position: absolute;
  overflow: visible;
  z-index: 9;
}

@media screen and (max-width: 480px) {
  .gallery-top .bigimg {
    width: 60%;
    height: auto;
    left: 22.7%;
    top: 250px;
    position: absolute;
    overflow: visible;
    z-index: 9;
  }
}

.gallery-top {
  height: 675px;
  width: 100%;
  position: absolute !important;
  overflow: visible;
  left: 0%;
  top: 0px;
}

@media screen and (max-width: 480px) {
  .gallery-top {
    height: 654px;
    width: 100%;
    position: absolute !important;
    overflow: visible;
    left: 0%;
    top: 0%;
  }
}

.swiper-button-prev {
  position: absolute !important;
  width: auto;
  height: auto;
  left: 7.2% !important;
  top: 457px !important;
  overflow: visible;
  background-repeat: no-repeat;
  outline: none;
  color: #0D0D0D !important;
  z-index: 9 !important;
}

@media screen and (max-width: 480px) {
  .swiper-button-prev {
    position: absolute !important;
    width: auto;
    height: auto;
    left: 5.4% !important;
    top: 298px !important;
    overflow: visible;
    background-repeat: no-repeat;
    outline: none;
    color: #0D0D0D !important;
    z-index: 9 !important;
    transform: scale(0.5);
  }
}

.swiper-button-next {
  position: absolute !important;
  width: auto;
  height: auto;
  left: 90.9% !important;
  top: 457px !important;
  overflow: visible;
  outline: none;
  background-repeat: no-repeat;
  color: #0D0D0D !important;
  z-index: 9 !important;
}

@media screen and (max-width: 480px) {
  .swiper-button-next {
    position: absolute !important;
    width: auto;
    height: auto;
    left: 90% !important;
    top: 298px !important;
    overflow: visible;
    background-repeat: no-repeat;
    outline: none;
    color: #0D0D0D !important;
    z-index: 9 !important;
    transform: scale(0.5)
  }
}

.swiper-button-prev:active,
.swiper-button-next:active {
  color: #99C8F2 !important;
  transition: 0.3s ease;
}

.type01 {
  left: 15.9%;
  top: 269px;
  position: absolute;
  overflow: visible;
  width: 379px;
  height: 348px;
  line-height: 46px;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 2.5rem;
  color: rgba(13, 13, 13, 1);
  z-index: 9;
}

@media screen and (max-width: 480px) {
  .type01 {
    top: 160px;
    position: absolute;
    line-height: 33px;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    color: rgba(13, 13, 13, 1);
    z-index: 9;
    left: 70%;
    transform: translateX(-70%);
  }
}

.txt-car-info {
  left: 15.9%;
  top: 400px;
  width: 314px;
  position: absolute;
  overflow: visible;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.438rem;
  color: rgba(13, 13, 13, 1);
  z-index: 9;
}

@media screen and (max-width: 480px) {
  .txt-car-info {
    left: 8%;
    top: 433px;
    position: absolute;
    overflow: visible;
    width: 285px;
    line-height: 28px;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: rgba(13, 13, 13, 1);
    z-index: 9;
  }
}

.txt-car-info button,
.txt-car-info button::after {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.txt-car-info button {
  color: #0D0D0D;
  border: 2px solid #0D0D0D;
  position: absolute;
  width: 252px;
  height: 56px;
  left: 0%;
  top: 170px;
  overflow: visible;
  cursor: pointer;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.313rem;
  background-color: transparent;
  z-index: 99;
}

@media screen and (max-width: 480px) {
  .txt-car-info button {
    color: #0D0D0D;
    border: 2px solid #0D0D0D;
    position: absolute;
    width: 128px;
    height: 33px;
    top: 100px;
    overflow: visible;
    cursor: pointer;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    background-color: transparent;
    z-index: 99;
  }
}

.txt-car-info button::before,
.txt-car-info button::after {
  background: #99C8F2;
  content: '';
  position: absolute;
  z-index: -1;
}

.txt-car-info button:hover {
  color: #fff;
  border-color: #99C8F2;
}

.open01::after, .open02::after, .open03::after {
  height: 100%;
  left: 0%;
  top: 0%;
  width: 0;
}

.open01:hover:after, .open02:hover:after, .open03:hover:after {
  width: 100%;
}

.mask {
  z-index: 999;
  display: none;
  padding-top: 100px;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

.modlacontent01, .modlacontent02, .modlacontent03 {
  background-color: #fff;
  position: absolute;
  width: 1005px;
  height: 699px;
  display: none;
  z-index: 999;
  left: 23.8%;
  margin-top: 92px;
  overflow: auto;
}

.spec01mob, .spec02mob, .spec03mob {
  display: none;
}

@media screen and (max-width: 480px) {
  .modlacontent01, .modlacontent02, .modlacontent03 {
    background-color: #fff;
    position: absolute;
    width: 315px;
    height: 600px;
    display: none;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    overflow: auto;
  }
}

@media screen and (max-width: 480px) {
  .spec01, .spec02, .spec03 {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .spec01mob, .spec02mob, .spec03mob {
    display: block;
  }
}

.spec011, .spec021, .spec031 {
  width: 50%;
  background: contain;
  display: block;
  margin: 80px auto;
}

@media screen and (max-width: 480px) {
  .spec011 {
    width: 70%;
    display: flex;
    top: 25px;
    position: relative;
    border: 0.5px solid #D9D9D9;
    margin-bottom: -50px;
  }
}

@media screen and (max-width: 480px) {
  .spec021, .spec031 {
    width: 70%;
    background: cover;
    display: block;
    position: relative;
    margin-bottom: -40px;
    top: -70px;
  }
}

.modlacontent01 span, .modlacontent02 span, .modlacontent03 span {
  text-align: center;
  display: block;
  margin: auto;
  padding-top: 50px;
  white-space: nowrap;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  color: #0D0D0D;
}

@media screen and (max-width: 480px) {
  .modlacontent01 span {
    text-align: center;
    display: block;
    margin: auto;
    top: 90px;
    position: relative;
    white-space: nowrap;
    font-size: 12px;
  }
}

/*닫기버튼
.close {
  position: fixed;
  color: #aaaaaa;
  left: 75%;
  top: 10%;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
*/
.gallery-thumbs {
  position: absolute !important;
  left: 0%;
  top: 755px !important;
  height: 183px;
  background-color: #D9D9D9;
  z-index: 9 !important;
}

@media screen and (max-width: 480px) {
  .gallery-thumbs {
    left: 0%;
    top: 643px !important;
    height: 119px;
    width: 100%;
    background-color: #D9D9D9;
    z-index: 9 !important;
    position: relative;
    overflow: visible !important;
  }
}

.gallery-thumbs .smallimg {
  left: 65%;
  top: -10px;
  width: 50%;
  position: relative;
  z-index: 99;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .gallery-thumbs .smallimg {
    left: 30%;
    top: 12px;
    width: 110%;
    position: relative;
    z-index: 99;
    cursor: pointer;
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .gallery-thumbs .swiper-slide {
    padding-right: 17px;
  }
}

.smallimg:hover {
  animation: shake-right .7s cubic-bezier(.455, .03, .515, .955) both
}

@keyframes shake-right {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 100% 50%
  }

  10% {
    transform: rotate(1deg)
  }

  20%, 40%, 60% {
    transform: rotate(-1deg)
  }

  30%, 50%, 70% {
    transform: rotate(1deg)
  }

  80% {
    transform: rotate(-1deg)
  }

  90% {
    transform: rotate(1deg)
  }
}

.slide-text01 {
  left: 23%;
  top: -3px;
  padding-right: 50px;
  position: relative;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  color: #0D0D0D;
}

.slide-text02 {
  left: 28%;
  top: -3px;
  padding-right: 50px;
  position: relative;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  color: #0D0D0D;
}

.slide-text03 {
  left: 21%;
  top: -3px;
  padding-right: 50px;
  position: relative;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  color: #0D0D0D;
}

@media screen and (max-width: 480px) {
  .slide-text01 {
    left: 30%;
    top: 10px;
    white-space: nowrap;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 480px) {
  .slide-text02 {
    left: 45%;
    top: 7px;
    white-space: nowrap;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 480px) {
  .slide-text03 {
    left: 15%;
    top: 10px;
    white-space: nowrap;
    font-size: 0.7rem;
  }
}

#contact {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 942px;
  left: 0%;
  top: 2812px;
}

@media screen and (max-width: 480px) {
  #contact {
    height: 760px;
    width: 100%;
    top: 2280px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
  }
}

#contactbg {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 858px;
  left: 0%;
  top: 0px;
  background-color: #fff;
}

@media screen and (max-width: 480px) {
  #contactbg {
    height: 760px;
    width: 100%;
    position: absolute !important;
    overflow: visible;
    left: 0px;
    top: 0px;
  }
}

#contacthead span {
  left: 45.8%;
  top: 117px;
  position: absolute;
  overflow: visible;
  width: 159px;
  white-space: nowrap;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.563rem;
  color: rgba(13, 13, 13, 1);
}

@media screen and (max-width: 480px) {
  #contacthead span {
    left: 50%;
    transform: translateX(-50%);
    top: 31px;
    position: absolute;
    overflow: visible;
    width: 98px;
    white-space: nowrap;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: rgba(13, 13, 13, 1);
  }
}

#chain {
  left: 13.4%;
  top: 217px;
  position: absolute;
  overflow: visible;
  width: 1404px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.875rem;
  color: rgba(13, 13, 13, 1);
  border-bottom: 2px solid #0D0D0D;
  padding-bottom: 28px;
}

@media screen and (max-width: 480px) {
  #chain {
    left: 8%;
    top: 99px;
    position: absolute;
    overflow: visible;
    width: 83.75%;
    white-space: nowrap;
    text-align: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: rgba(13, 13, 13, 1);
    border-bottom: 2px solid #0D0D0D;
    padding-bottom: 5px;
  }
}

#map iframe {
  position: absolute;
  width: 702px;
  height: 532px;
  left: 13.4%;
  top: 321px;
  overflow: visible;
}

@media screen and (max-width: 480px) {
  #map iframe {
    position: absolute;
    width: 83.75%;
    height: 215px;
    left: 8%;
    top: 160px;
    overflow: visible;
  }
}

#add {
  left: 53.3%;
  top: 388px;
  position: absolute;
  overflow: visible;
  width: 96px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(13, 13, 13, 1);
}

@media screen and (max-width: 480px) {
  #add {
    left: 8%;
    top: 395px;
    position: absolute;
    overflow: visible;
    width: 50px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: rgba(13, 13, 13, 1);
  }
}

#tel {
  left: 53.3%;
  top: 510px;
  position: absolute;
  overflow: visible;
  width: 96px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(13, 13, 13, 1);
}

@media screen and (max-width: 480px) {
  #tel {
    left: 8%;
    top: 494px;
    position: absolute;
    overflow: visible;
    width: 50px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: rgba(13, 13, 13, 1);
  }
}

#fax {
  left: 53.3%;
  top: 627px;
  position: absolute;
  overflow: visible;
  width: 96px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(13, 13, 13, 1);
}

@media screen and (max-width: 480px) {
  #fax {
    left: 8%;
    top: 566px;
    position: absolute;
    overflow: visible;
    width: 50px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: rgba(13, 13, 13, 1);
  }
}

#hour {
  left: 53.3%;
  top: 746px;
  position: absolute;
  overflow: visible;
  width: 96px;
  white-space: nowrap;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(13, 13, 13, 1);
}

@media screen and (max-width: 480px) {
  #hour {
    left: 8%;
    top: 638px;
    position: absolute;
    overflow: visible;
    width: 75px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: rgba(13, 13, 13, 1);
  }
}

#addbody {
  left: 60.2%;
  top: 388px;
  position: absolute;
  overflow: visible;
  width: 507px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(13, 13, 13, 1);
}

@media screen and (max-width: 480px) {
  #addbody {
    left: 34%;
    top: 395px;
    position: absolute;
    overflow: visible;
    width: 180px !important;
    line-height: 27px !important;
    text-align: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: rgba(13, 13, 13, 1);
  }
}

#telnumber {
  left: 60.2%;
  top: 510px;
  position: absolute;
  overflow: visible;
  width: 507px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(13, 13, 13, 1);
}

@media screen and (max-width: 480px) {
  #telnumber {
    left: 34%;
    top: 494px;
    position: absolute;
    overflow: visible;
    width: 190px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: rgba(13, 13, 13, 1);
  }
}

#faxnumber {
  left: 60.2%;
  top: 627px;
  position: absolute;
  overflow: visible;
  width: 507px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(13, 13, 13, 1);
}

@media screen and (max-width: 480px) {
  #faxnumber {
    left: 34%;
    top: 566px;
    position: absolute;
    overflow: visible;
    width: 507px;
    text-align: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: rgba(13, 13, 13, 1);
  }
}

#hourbody {
  left: 60.2%;
  top: 746px;
  position: absolute;
  overflow: visible;
  width: 507px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(13, 13, 13, 1);
}

@media screen and (max-width: 480px) {
  #hourbody {
    left: 34%;
    top: 638px;
    position: absolute;
    overflow: visible;
    width: 191px;
    line-height: 27px !important;
    text-align: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: rgba(13, 13, 13, 1);
  }
}

.line04 {
  border-top: 1px solid #D9D9D9;
  overflow: visible;
  position: absolute;
  width: 637px;
  left: 53.4%;
  top: 475px;
}

@media screen and (max-width: 480px) {
  .line04 {
    overflow: visible;
    position: absolute;
    width: 83.75%;
    height: 1px;
    left: 8%;
    top: 471px;
  }
}

.line05 {
  border-top: 1px solid #D9D9D9;
  overflow: visible;
  position: absolute;
  width: 637px;
  height: 1px;
  left: 53.4%;
  top: 587px;
}

@media screen and (max-width: 480px) {
  .line05 {
    display: none;
  }
}

.line06 {
  border-top: 1px solid #D9D9D9;
  overflow: visible;
  position: absolute;
  width: 637px;
  height: 1px;
  left: 53.4%;
  top: 706px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

@media screen and (max-width: 480px) {
  .line06 {
    overflow: visible;
    position: absolute;
    width: 83.75%;
    ;
    height: 1px;
    left: 8%;
    top: 544px;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

.line07 {
  border-top: 1px solid #D9D9D9;
  overflow: visible;
  position: absolute;
  width: 637px;
  height: 1px;
  left: 53.4%;
  top: 853px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

@media screen and (max-width: 480px) {
  .line07 {
    overflow: visible;
    position: absolute;
    width: 83.75%;
    height: 1px;
    left: 8%;
    top: 616px;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

#service {
  overflow: visible;
  position: absolute;
  width: 100%;
  height: 938px;
  left: 0%;
  top: 3743px;
  background-color: #F2F2F2;
}

@media screen and (max-width: 480px) {
  #service {
    height: 760px;
    width: 100%;
    position: absolute !important;
    overflow: visible;
    left: 0px;
    top: 3040px;
  }
}

#service span {
  left: 47%;
  top: 104px;
  position: absolute;
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.563rem;
  color: rgba(0, 0, 0, 1);
}

@media screen and (max-width: 480px) {
  #service span {
    left: 50%;
    transform: translateX(-50%);
    top: 31px;
    position: absolute;
    overflow: visible;
    white-space: nowrap;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
  }
}

.line01 {
  border-bottom: 1px solid #D9D9D9;
  overflow: visible;
  position: absolute;
  width: 1388px;
  height: 1px;
  left: 13.8%;
  top: 330px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

@media screen and (max-width: 480px) {
  .line01 {
    overflow: visible;
    position: absolute;
    width: 83.75%;
    height: 1px;
    left: 8%;
    top: 176px;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

.line02 {
  border-bottom: 1px solid #D9D9D9;
  overflow: visible;
  position: absolute;
  width: 1388px;
  height: 1px;
  left: 13.8%;
  top: 512px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

@media screen and (max-width: 480px) {
  .line02 {
    overflow: visible;
    position: absolute;
    width: 83.75%;
    height: 1px;
    left: 8%;
    top: 287px;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

.line01_1.line02_1 {
  display: none;
}

@media screen and (max-width: 480px) {
  .line01_1 {
    border-bottom: 1px solid #D9D9D9;
    overflow: visible;
    position: absolute;
    width: 83.75%;
    height: 1px;
    left: 8%;
    top: 398px;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

@media screen and (max-width: 480px) {
  .line02_1 {
    border-bottom: 1px solid #D9D9D9;
    overflow: visible;
    position: absolute;
    width: 83.75%;
    height: 1px;
    left: 8%;
    top: 509px;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

label {
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  display: block;
}

@media screen and (max-width: 480px) {
  label {
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    display: block;
    overflow: visible;
    left: 52%;
    transform: translateX(-52%);
    text-align: left;
  }
}

label:after {
  content: "*";
  color: red;
}

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-right: 60px;
  margin-bottom: 80px;
  resize: vertical;
  filter: drop-shadow(0px 1px 20px rgba(0, 0, 0, 0.071));
  outline: none;
}

@media screen and (max-width: 480px) {
  input[type=text], input[type=email], textarea {
    width: 83.75vw !important;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 40px;
    filter: drop-shadow(0px 1px 20px rgba(0, 0, 0, 0.071));
    outline: none;
    left: 62%;
    transform: translateX(-62%);
  }
}

@media screen and (max-width: 480px) {
  textarea {
    width: 83.75vw !important;
    height: 143px !important;
    padding: 20px;
  }
}

#my-form-button {
  background-color: #99C8F2;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  width: 252px;
  height: 56px;
  overflow: visible;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.313rem;
  outline: none;
  left: 39%;
  top: 643px;
  position: absolute;
}

@media screen and (max-width: 480px) {
  #my-form-button {
    padding: 5px 0px;
    width: 83vw;
    height: 28px;
    overflow: visible;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    outline: none;
    left: 50%;
    transform: translateX(-50%);
    top: 713px;
    position: absolute;
  }
}

#my-form-button:hover {
  background-color: #67A9E5;
}

.container {
  left: 13.7%;
  top: 195px;
  position: absolute;
  overflow: visible;
}

@media screen and (max-width: 480px) {
  .container {
    left: 0px;
    top: 0px;
    position: absolute;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
  }
}

.line {
  display: flex;
  float: right;
}

@media screen and (max-width: 480px) {
  .line {
    display: block;
    left: 38px;
    top: 74px;
    position: absolute;
    overflow: visible;
  }
}

@media screen and (max-width: 480px) {
  .row {
    display: inline;
    left: 38px;
    top: 409px;
    position: absolute;
    overflow: visible;
  }
}

#footer {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 215px;
  left: 0%;
  top: 4685px;
}

@media screen and (max-width: 480px) {
  #footer {
    position: absolute;
    overflow: visible;
    width: 100%;
    height: 192px;
    left: 0px;
    top: 3800px;
  }
}

#footerbg {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 215px;
  left: 0%;
  top: 0px;
  background: #0D0D0D;
}

@media screen and (max-width: 480px) {
  #footerbg {
    position: absolute;
    overflow: visible;
    width: 100%;
    height: 192px;
    left: 0px;
    top: 0px;
  }
}

#footercontents01 {
  opacity: 0.32;
  left: 28.9%;
  top: 76px;
  position: absolute;
  overflow: visible;
  width: 800px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: rgba(242, 242, 242, 1);
}

@media screen and (max-width: 480px) {
  #footercontents01 {
    opacity: 0.32;
    left: 8%;
    top: 91px;
    position: absolute;
    overflow: visible;
    width: 290px;
    text-align: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    color: rgba(242, 242, 242, 1);
  }
}

#Copyright {
  opacity: 0.32;
  left: 28.9%;
  top: 105px;
  position: absolute;
  overflow: visible;
  width: 541px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: rgba(242, 242, 242, 1);
}

@media screen and (max-width: 480px) {
  #Copyright {
    opacity: 0.32;
    left: 8%;
    top: 127px;
    position: absolute;
    overflow: visible;
    width: 262px;
    text-align: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    color: rgba(242, 242, 242, 1);
  }
}

#topbtn {
  position: absolute;
  width: 82px;
  height: 81px;
  left: 88.2%;
  top: 60px;
  overflow: visible;
}

@media screen and (max-width: 480px) {
  #topbtn {
    position: absolute;
    width: 30px;
    height: 29px;
    left: 83.5%;
    top: 25px;
    overflow: visible;
    transform: scale(0.5);
  }
}

#footerlogo {
  position: absolute;
  width: 205.019px;
  height: 50.754px;
  left: 15.7%;
  top: 76px;
  overflow: visible;
}

@media screen and (max-width: 480px) {
  #footerlogo {
    transform: scale(0.6);
    position: absolute;
    width: 98.89px;
    height: 27.92px;
    left: 3.7%;
    ;
    top: 47px;
    overflow: visible;
  }
}
